@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');/*letra header-parrafos*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap'); /*letra titulos*/

:root{
    --main-color: #c11a1a;
    --main-black: #131313;
    --main-white: #c7c7c7;
}

*{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: var(--main-black);
    color: var(--main-white);
}
h2 span{
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: italic;
    color: var(--main-color);
}
header{
    background-color: #010203;
}
#h1-header{
    font-size: 0;
    background-image: url(../assets/logo/80w/logo2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.user{
    aspect-ratio: 1 / 1;
    background-color: var(--main-color);
    border-radius: 100%;
    padding: 4px 5px;
}
.nav-link:hover{
    color: var(--main-color)!important;
    text-decoration: overline;
}

strong{
    color: var(--main-color);
}
em{
    font-style: italic;
}
.nos{
    background-color: transparent;
    background-image: url(../assets/au.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.nos h2{
    font-size: 4em;
}
.nos h2 span{
    color: var(--main-color);
    font-weight: 900;
    font-style: italic;
}
.user picture img{
    width: 30px;
}
.info-nosotros{
    width: 50%;
}
.sabermas{
    background-color: var(--main-color);
    width: 140px;
    transition: all 120ms ease-in;
}
.sabermas:hover{
    background-color: hsla(from var(--main-color) h 50 60);
}

#a-modal{
    font-size: 0;
}
#a-modal:hover{
    cursor: pointer;
}
.user:hover{
    background-color: hsla(from var(--main-color) h 50 60);
}


.modal-header{
    background-color: var(--main-color);
    color: #c7c7c7;
}
.modal-header h2{
    font-weight: 700;
}
.modal-alumnos{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
.alumno{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2em;
}
.alumno a{
    color: var(--main-color);
}
.alumno a:hover{
    color: hsla(from var(--main-color) h 50 60);
}
.alumno picture img{
    width: 250px;
}
.ul-alumno{
    display: flex;
    gap: 20px;
    align-content: center;
    padding: 0;
}
.ul-alumno li{
    list-style: none;
}
.ul-alumno li a{
    font-size: 0;
}
.ul-alumno li a img{
    height: 30px;
}
.ul-alumno li a img:hover{
    transform: scale(1.05);
}

.btn-primary{
    background-color: var(--main-color);
    border-color: hsla(from var(--main-color) h s calc(l - 10));
}

.btn-primary:hover{
    background-color: hsla(from var(--main-color) h s calc(l - 10));
    border-color: hsla(from var(--main-color) h s calc(l - 10));
}

.card{
    box-shadow: 0px 0px 10px 0px hsla(from var(--main-white) h s l / 50%);
    background-color: hsla(from var(--main-black) h 0 10);
    color: var(--main-white);
    transition: all 140ms ease-in-out;
}
.card-title{
    color: var(--main-color);
}
.card:hover{
    box-shadow: 0px 0px 25px 0px hsla(from var(--main-color) h s l / 50%);
    background-color: hsla(from var(--main-color) h 0 10);
}


@media screen and (max-width:1200px) {
    .nos{
        background-image: url(../assets/au_600.png);
        text-align: center;
    }
    .info-nosotros p,.info-nosotros, .sabermas{
        margin: 0 auto;
    }
    .info-nosotros{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 75%;
    }
    .info-nosotros p{
        font-size: 1.3em!important;
    }
}
@media screen and (max-width:768px) {
    .navbar-collapse ul li{
        margin: 8px 0;
        background-color: #5e1313;
        width: 100vw;
        padding: 13px;
    }
    .nos h2{
    font-size: 4.5em;
    }
    .info-nosotros p{
        font-size: 1.2em!important;
    }
}
@media screen and (max-width:560px) {
    .nos{
        justify-content: center;
    }
    .nos h2{
    font-size: 3.5em;
    }
}
@media screen and (max-width:460px) {
    .info-nosotros{
        width: 85%;
    }
    .info-nosotros p{
        font-size: 1.1em!important;
    }
}
@media screen and (max-width:300px) {
    .nos h2{
        margin-top: 10px;
        font-size: 2.5em;
    }
    .info-nosotros{
        width: 90%;
    }
}