@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');/*letra header-parrafos*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap'); /*letra titulos*/

:root{
    --main-color: #c11a1a;
    --sec-color: #ff6262;
    --main-black: #131313;
    --sec-black: #1b1b1b;
    --main-white: #c7c7c7;
}

*{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: var(--main-black);
    color: var(--main-white);
}
h2 span{
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: italic;
    color: var(--main-color);
}
header{
    background-color: #010203;
}
#h1-header{
    font-size: 0;
    background-image: url(../assets/logo/80w/logo2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.user{
    aspect-ratio: 1 / 1;
    background-color: var(--main-color);
    border-radius: 100%;
    padding: 4px 5px;
}
header .nav-link:hover{
    color: var(--main-color)!important;
    text-decoration: overline;
}
footer .nav-link:hover{
    color: var(--main-color)!important;
    text-decoration: underline;
}

strong{
    color: var(--main-color);
}
em{
    font-style: italic;
}
.nos{
    background-color: transparent;
    background-image: url(../assets/au.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.nos h2{
    font-size: 5.5em;
}
.nos h2 span{
    color: var(--main-color);
    font-weight: 900;
    font-style: italic;
}
.info-nosotros{
    width: 50%;
}
.prod{
    background-color: transparent;
    background-image: url(../assets/prod.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.prod h2{
    font-size: 5.5em;
    width: 75%;
    text-align: end;
    margin-left: auto;
}
.prod h2 span{
    color: var(--main-color);
    font-weight: 900;
    font-style: italic;
}
.info-productos{
    width: 50%;
    margin-left: auto;
}


.user picture img{
    width: 30px;
}
#a-modal, #a-modal-2{
    font-size: 0;
}
#a-modal:hover,#a-modal-2:hover{
    cursor: pointer;
}
.user:hover{
    background-color: var(--sec-color);
}

.modal-header{
    background-color: var(--main-color);
    color: #c7c7c7;
}
.modal-header h2{
    font-weight: 700;
}
.modal-alumnos{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
.alumno{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2em;
}
.alumno li, footer li{
    list-style: none;
}
.alumno a{
    color: var(--main-color);

}
.alumno a:hover{
    color: var(--sec-color);
}
.alumno picture img{
    width: 250px;
}
.ul-alumno{
    display: flex;
    gap: 20px;
    align-content: center;
    padding: 0;
}
.ul-alumno li{
    list-style: none;
}
.ul-alumno li a{
    font-size: 0;
}
.ul-alumno li a img{
    height: 30px;
}
.ul-alumno li a img:hover{
    transform: scale(1.05);
}

.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--main-color);
    --bs-btn-border-color: hsla(from var(--main-color) h s calc(l - 5));
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsla(from var(--main-color) h s calc(l + 10));
    --bs-btn-hover-border-color: var(--main-color);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--main-color);
    --bs-btn-active-border-color: hsla(from var(--main-color) h s calc(l - 5));
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--main-color);
    --bs-btn-disabled-border-color: hsla(from var(--main-color) h s calc(l - 5));

    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:hover{
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}

.card{
    box-shadow: 0px 0px 8px 0px var(--main-white);
    background-color: var(--sec-black);
    color: var(--main-white);
    transition: all 140ms ease-in-out;
}
.card-title{
    color: var(--main-color);
}
.card:hover{
    box-shadow: 0px 0px 25px 0px var(--main-color);
}


.anim-black{
    --mask-image: url('../assets/img/mask-black_512.png');
    overflow: hidden;
}
.anim-azul{
    --mask-image: url('../assets/img/mask-azul_512.png');
    overflow: hidden;
}
.anim-rosa{
    --mask-image: url('../assets/img/mask-rosa_512.png');
    overflow: hidden;
}

.anim-black .product, .anim-azul .product, .anim-rosa .product{
    transition: transform 140ms ease;
    overflow: hidden;
}

.anim-black:hover .product::before, .anim-azul:hover .product::before, .anim-rosa:hover .product::before{
    content: linear-gradient(180deg, hsla(from var(--main-color) h s l / 50%) 0%, rgba(31, 36, 40, 0) 100%);
    position: absolute;
    inset: 0;
    mix-blend-mode: lighten;
}
.anim-black:hover .product::after, .anim-azul:hover .product::after, .anim-rosa:hover .product::after{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    transform: rotate(25deg) scaleY(200%);
    filter: opacity(0);
    display: block;
    height: 100%;
    width: 20px;
    background-color: var(--main-white);
    mix-blend-mode: luminosity;
    animation: shine 3s ease-out infinite;
}

.opi h2, #tienda h2{
    margin-top: 100px;
}

.puntaje li {
    list-style: none;
}
.puntaje li i{
    color: var(--main-color);
}

.cardsClientes{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#faq{
    color: var(--main-color);
    background-color: hsla(from var(--main-black) h s calc(l + 5));
    padding: 20px 0 60px 0;
}


@keyframes shine{
    0%, 100% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(1) blur(10px) brightness(1.5);
    }

    40% {
        left: 150%;
        filter: opacity(1);
    }

    41%{
        filter: opacity(0);
    }

    100%{
        left: -50px;
    }
}

/* .anim-black:hover .product, .anim-azul:hover .product, .anim-rosa:hover .product {
    mask-image: var(--mask-image);
    mask-size: cover; 
    -webkit-mask-image: var(--mask-image);
    -webkit-mask-size: cover;

    transform: scale(1.05) skewY(2deg);
    z-index: 2;
} */

.accordion{
    --bs-accordion-color: var(--main-white);
    --bs-accordion-bg: var(--main-black);
    --bs-accordion-border-color: var(--main-color);
    --bs-accordion-btn-color: var(--main-white);
    --bs-accordion-btn-bg: var(--main-black);
    --bs-accordion-btn-focus-border-color: var(--main-color);
    --bs-accordion-btn-focus-box-shadow: var(--main-color);
    --bs-accordion-active-color: var(--main-white);
    --bs-accordion-active-bg: var(--main-color);
}

.form-control, .form-select{
    --bs-body-bg: var(--sec-black);
    --bs-border-color: var(--main-white);
    --bs-body-color: var(--main-white);
}
.form-control:focus, .form-select:focus{
    border-color: hsla(from var(--main-white) h calc(s - 10) l);
    outline: 0;
    box-shadow: 0 0 0 .25rem hsla(from var(--main-white) h s l / 50%);
}

#contacto label{
    --bs-body-bg: var(--sec-black);
    color: var(--main-color);
}

footer{
    min-height: 30vh;
    height: fit-content;
    background-color: hsla(from var(--main-black) h s calc(l + 5));
}

@media screen and (max-width:1200px) {
    .nos{
        background-image: url(../assets/au_600.png);
        text-align: center;
    }
    .prod{
        background-image: url(../assets/prod_1200.png);
        text-align: center;
    }
    .info-nosotros p,.info-nosotros, .info-productos p, .info-productos{
        margin: 0 auto;
        text-align: center!important;
    }
    .info-nosotros, .info-productos{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 75%;
    }
    .info-nosotros p, .info-productos p{
        font-size: 1.3em!important;
    }
    .prod h2{
        text-align: center;
        margin: 0 auto;
    }
    #preguntas{
        width: 50%;
        margin: auto;
    }

    .anim-black{
    --mask-image: url('../assets/img/mask-black_256.png');
    }
    .anim-azul{
        --mask-image: url('../assets/img/mask-azul_256.png');
    }
    .anim-rosa{
        --mask-image: url('../assets/img/mask-rosa_256.png');
    }
}
@media screen and (max-width:768px) {
    .navbar-collapse ul li{
        margin: 8px 0;
        background-color: #5e1313;
        width: 100vw;
        padding: 13px;
    }
    .nos h2, .prod h2{
    font-size: 4.5em;
    }
    .info-nosotros p, .info-productos p{
        font-size: 1.2em!important;
    }

    #preguntas{
        width: 70%;
        margin: auto;
    }

    .anim-black{
    --mask-image: url('../assets/img/mask-black_768.png');
    }
    .anim-azul{
        --mask-image: url('../assets/img/mask-azul_768.png');
    }
    .anim-rosa{
        --mask-image: url('../assets/img/mask-rosa_768.png');
    }
}
@media screen and (max-width:560px) {
    .nos, .prod{
        justify-content: center;
    }
    .prod{
        background-image: url(../assets/prod_600.png);
    }
    .nos h2, .prod h2{
    font-size: 3.5em;
    }
}
@media screen and (max-width:460px) {
    .info-nosotros, .info-productos{
        width: 85%;
    }
    .info-nosotros p, .info-productos p{
        font-size: 1.1em!important;
    }
}
@media screen and (max-width:300px) {
    .nos, .prod{
        height: auto;
        padding: 40px 10px;
    }
    .nos h2, .prod h2{
        margin-top: 10px;
        font-size: 2.5em;
    }
    .info-nosotros, .info-productos{
        width: 90%;
    }
}